root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
insert_final_newline = false

[*.py]
indent_style = space
indent_size = 4
insert_final_newline = true

[*.yml]
indent_size = 2

[*.cwl]
indent_size = 2

[*.nf]
indent_size = 2
