manifest {
    mainScript = 'virify.nf'
}

tower {
  accessToken = '0330915039dabdf49f117eed00dc7763c565590d'
  enabled = false
}

params {
    cores = '4'
    memory = '12'
    help = false
    profile = false

    // inputs
    illumina = ''
    fasta = ''
    list = false

    // databases
    virsorter = false
    viphog = false
    ncbi = false
    rvdb = false
    pvogs = false
    vogdb = false
    vpf = false
    imgvr = false
    pprmeta = false
    meta = false

    virome = false
    hmmextend = false
    blastextend = false
    chromomap = false

    sankey = 25
    chunk = 10
    length = 1.5 // in kb, so 0.5 filters all contigs shorter 500 nt

    // development
    version = 'v3'

    // folder structure
    output = 'results'
    assemblydir = '00-assembly'
    virusdir = '01-viruses'
    prodigaldir = '02-prodigal'
    phanotatedir = '02-phanotate'
    hmmerdir = '03-hmmer'
    blastdir = '04-blast'
    plotdir = '05-plots'
    taxdir = '06-taxonomy'
    finaldir = '07-final'

    // optional profile configurations, only necessary for HPC LSF execution
    workdir = "/tmp/nextflow-work-$USER"
    cloudDatabase = false
    cachedir = false
}

profiles {

    standard { 
        params.cloudProcess = false
        params.cloudDatabase = false
        includeConfig 'configs/local.config' }

    conda { 
        params.cloudProcess = false
        params.cloudDatabase = false
        includeConfig 'configs/conda.config' }

    lsf {
        params.cloudProcess = true
        includeConfig 'configs/lsf.config' }

    slurm {
        params.cloudProcess = true
        includeConfig 'configs/slurm.config' }

    nih {
        params.cloudProcess = true
        params.workdir = "/data/$USER/nextflow-work"
        params.cloudDatabase = "/data/$USER/nextflow-databases/"
        params.cachedir = "/data/$USER/nextflow-singularity/"
        includeConfig 'configs/slurm.config' }
    
    ebi {
        params.cloudProcess = true
  	    params.workdir = "/hps/nobackup2/production/metagenomics/$USER/nextflow-work-$USER"
  	    params.cloudDatabase = "/homes/$USER/data/nextflow-databases/"
  	    params.cachedir = "/hps/nobackup2/singularity/$USER"
        includeConfig 'configs/lsf.config' }

    ebi_conda {
        params.cloudProcess = true
  	    params.workdir = "/hps/nobackup2/production/metagenomics/$USER/nextflow-work-$USER"
  	    params.cloudDatabase = "/homes/$USER/data/nextflow-databases/"
        includeConfig 'configs/conda_lsf.config' }

    yoda {
        params.cloudProcess = true
  	    params.workdir = "/hps/nobackup2/metagenomics/$USER/nextflow-work-$USER"
  	    params.cloudDatabase = "/hps/nobackup2/metagenomics/$USER/nextflow-databases/"
  	    params.cachedir = "/hps/nobackup2/metagenomics/$USER/singularity"
        includeConfig 'configs/lsf.config' }

    yoda_conda {
        params.cloudProcess = true
  	    params.workdir = "/hps/nobackup2/metagenomics/$USER/nextflow-work-$USER"
  	    params.cloudDatabase = "/hps/nobackup2/metagenomics/$USER/nextflow-databases/"
        includeConfig 'configs/conda_lsf.config' }

    // CONFIGURE YOUR PRIVATE CLOUD
    gcloudMartin { 
        params.cloudProcess = true
        params.cloudDatabase = 'gs://databases-matrice/databases/'
        bucketDir = 'gs://matrice/nextflow-tmp/virify'
        workDir = "/tmp/nextflow-work-$USER"
        google {
            project = 'nextflow-auto-255816'
            zone = 'europe-west1-b' 
            lifeSciences.bootDiskSize = '20.GB'
        }  
        includeConfig 'configs/googlegenomics.config' }

} 
