profiles {
    // EBI CI //
    jenkins {
  	    params.workdir = "/nfs/production/rdf/metagenomics/jenkins/workspace/PipelinesCI/VirifyCI/nf-wd"
  	    params.databases = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/virify/"

        workDir = params.workdir
        executor {
            name = "lsf"
            queueSize = 200
        }
        params.cloudProcess = true
        process.cache = "lenient"
        singularity { 
            enabled = true
            autoMounts = true
            cacheDir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"
        }
        includeConfig "../../nextflow/configs/container.config"
    }
}
