
workDir = params.workdir

executor {
    name = 'lsf'
    queueSize = 1000
}

        process {
            cache = "lenient"
            withLabel: annotation { cpus = 1; memory = '4.0 GB'; conda = 'envs/python3.yaml' }
            withLabel: assign { cpus = 1; memory = '4.0 GB'; conda = 'envs/python3.yaml' }
            withLabel: basics { cpus = 1; memory = '4.0 GB'; conda = 'envs/python3.yaml' }
            withLabel: blast { cpus = 24; memory = '8.0 GB'; conda = 'envs/blast.yaml' }
            withLabel: fastp { cpus = 12; memory = '8.0 GB' ; conda = 'envs/fastp.yaml' } 
            withLabel: fastqc { cpus = 8; memory = '4.0 GB' ; conda = 'envs/fastqc.yaml' }
            withLabel: hmmscan { cpus = 36; memory = '24.0 GB'; conda = 'envs/hmmer.yaml' }
            withLabel: kaiju { cpus = 12; memory = '42.0 GB' ; conda = 'envs/kaiju.yaml' }
            withLabel: krona { cpus = 4; memory = '4.0 GB' ; conda = 'envs/krona.yaml'  }
            withLabel: plot_contig_map { cpus = 1; memory = '6.0 GB'; conda = 'envs/r.yaml' }
            withLabel: multiqc { cpus = 4; memory = '4.0 GB' ; conda = 'envs/multiqc.yaml' }
            withLabel: parse { cpus = 1; memory = '4.0 GB'; conda = 'envs/python3.yaml' }
            withLabel: prodigal { cpus = 1; memory = '6.0 GB'; conda = 'envs/prodigal.yaml' }
            withLabel: phanotate { cpus = 1; memory = '4.0 GB'; conda = 'envs/phanotate.yaml' }
            withLabel: python3 { cpus = 1; memory = '4.0 GB'; conda = 'envs/python3.yaml' }
            withLabel: ratio_evalue { cpus = 1; memory = '4.0 GB'; conda = 'envs/python3.yaml' }
            withLabel: ruby { cpus = 1; memory = '4.0 GB'; conda = 'envs/ruby.yaml' } 
            withLabel: spades { cpus = 24; memory = '42.0 GB' ; conda = 'envs/spades.yaml' } 
	    withLabel: virsorter { cpus = 18; memory = '16.0 GB' ; conda = 'envs/virsorter.yaml' }
            withLabel: virfinder { cpus = 1; memory = '10.0 GB' ; conda = 'envs/virfinder.yaml' }
        }

