
workDir = params.workdir
process.executor = 'local'

        process {
            withLabel: annotation { cpus = 1; conda = 'envs/python3.yaml' }
            withLabel: assign { cpus = 1; conda = 'envs/python3.yaml' }
            withLabel: basics { cpus = 1; conda = 'envs/python3.yaml' }
            withLabel: blast { cpus = params.cores; conda = 'envs/blast.yaml' }
            withLabel: fastp { cpus = params.cores ; conda = 'envs/fastp.yaml' } 
            withLabel: fastqc { cpus = params.cores ; conda = 'envs/fastqc.yaml' }
            withLabel: hmmscan { cpus = params.cores; conda = 'envs/hmmer.yaml' }
            withLabel: kaiju { cpus = params.cores ; conda = 'envs/kaiju.yaml' }
            withLabel: krona { cpus = params.cores ; conda = 'envs/krona.yaml'  }
            withLabel: plot_contig_map { cpus = 1; conda = 'envs/r.yaml' }
            withLabel: multiqc { cpus = params.cores ; conda = 'envs/multiqc.yaml' }
            withLabel: parse { cpus = 1; conda = 'envs/python3.yaml' }
            withLabel: prodigal { cpus = 1; conda = 'envs/prodigal.yaml' }
            withLabel: phanotate { cpus = 1; conda = 'envs/phanotate.yaml' }
            withLabel: python3 { cpus = 1; conda = 'envs/python3.yaml' }
            withLabel: ratio_evalue { cpus = 1; conda = 'envs/python3.yaml' }
            withLabel: ruby { cpus = 1; conda = 'envs/ruby.yaml' } 
            withLabel: spades { cpus = params.cores ; conda = 'envs/spades.yaml' } 
	        withLabel: virsorter { cpus = params.cores ; conda = 'envs/virsorter.yaml' }
            withLabel: virfinder { cpus = 1 ; conda = 'envs/virfinder.yaml' }
        }