process {
    withLabel: fastp {          container = 'microbiomeinformatics/fastp:v0.20.1' }
    withLabel: hmmscan {        container = 'microbiomeinformatics/hmmer:v3.1b2' }

    withLabel: annotation {     container = 'microbiomeinformatics/emg-viral-pipeline-python3:v1' }
    withLabel: assign {         container = 'microbiomeinformatics/emg-viral-pipeline-python3:v1' }
    withLabel: python3 {        container = 'microbiomeinformatics/emg-viral-pipeline-python3:v1' }
    withLabel: ratio_evalue {   container = 'microbiomeinformatics/emg-viral-pipeline-python3:v1' }
    withLabel: parse {          container = 'microbiomeinformatics/emg-viral-pipeline-python3:v1' }

    withLabel: krona {          container = 'microbiomeinformatics/krona:v2.7.1' }
    withLabel: phanotate {      container = 'microbiomeinformatics/phanotate:v1.5.0' }
    withLabel: spades {         container = 'microbiomeinformatics/spades:v3.14' } 
    withLabel: sankey {         container = 'microbiomeinformatics/sankey_plot:v0.12.3' } 
    withLabel: ruby {           container = 'microbiomeinformatics/bioruby:v2.0.1' } 
    withLabel: pprmeta {        container = 'microbiomeinformatics/pprmeta:v1.1' }
    withLabel: prodigal {       container = 'microbiomeinformatics/prodigal:v2.6.3' }
    withLabel: chromomap {      container = 'microbiomeinformatics/r_chromomap:v0.2' } 
    withLabel: multiqc {        container = 'microbiomeinformatics/multiqc:v1.9' }
    withLabel: fastqc {         container = 'microbiomeinformatics/fastqc:v0.11.9' } 
    withLabel: basics {         container = 'microbiomeinformatics/emg-viral-pipeline-basics:1.0' } 

    withLabel: plot_contig_map {container = 'microbiomeinformatics/emg-viral-pipeline-plot-contig-map:v1' }
    withLabel: virfinder {      container = 'microbiomeinformatics/virfinder:v1.1__eb8032e' }
    withLabel: checkV {         container = 'microbiomeinformatics/checkv:v0.8.1' }

    withLabel: blast {          container = 'microbiomeinformatics/blast:v2.9.0' } 
    withLabel: virsorter {      container = 'microbiomeinformatics/virsorter:1.0.6' }
    withLabel: mashmap {        container = 'microbiomeinformatics/mashmap:2.0' }
    withLabel: kaiju {          container = 'quay.io/biocontainers/kaiju:1.7.2--hdbcaa40_0' }

    withLabel: balloon {        container = 'nanozoo/r_balloon:3.1.1--64f0f7d' } 
}
