
workDir = params.workdir
process.executor = 'local'
docker { enabled = true }

        process {
            withLabel: annotation {     cpus = 1;            container = 'mhoelzer/annotation_viral_contigs:0.1' }
            withLabel: assign {         cpus = 1;            container = 'mhoelzer/assign_taxonomy:0.1' }
            withLabel: basics {         cpus = 1;            container = 'nanozoo/basics:1.0--da8477a' } 
            withLabel: blast {          cpus = params.cores; container = 'nanozoo/blast:2.9.0--ded80ad' } 
            withLabel: chromomap {      cpus = 1;            container = 'nanozoo/r_fungi:0.1--097b1bb' } 
            withLabel: fastp {          cpus = params.cores; container = 'nanozoo/fastp:0.20.0--78a7c63' } 
            withLabel: fastqc {         cpus = params.cores; container = 'nanozoo/fastqc:0.11.8--fbfa1d7' } 
            withLabel: hmmscan {        cpus = params.cores; container = 'mhoelzer/hmmscan:0.1' }
            withLabel: kaiju {          cpus = params.cores; container = 'nanozoo/kaiju:1.7.2--fa366a0' }
            withLabel: krona {          cpus = params.cores; container = 'nanozoo/krona:2.7.1--658845d'  }
            withLabel: plot_contig_map {cpus = 1;            container = 'mhoelzer/mapping_viral_predictions:0.2' }
            withLabel: pprmeta {        cpus = params.cores; container = 'multifractal/ppr-meta:0.1' }
            withLabel: multiqc {        cpus = params.cores; container = 'nanozoo/multiqc:1.8--c4c119b' } 
            withLabel: parse {          cpus = 1;            container = 'mhoelzer/cwl_parse_pred:0.1' }
            withLabel: prodigal {       cpus = 1;            container = 'mhoelzer/prodigal_viral:0.1' }
            withLabel: phanotate {      cpus = 1;            container = 'nanozoo/phanotate:1.2.2--0e945c2' }
            withLabel: python3 {        cpus = 1;            container = 'mhoelzer/python3_virify:0.1' }
            withLabel: ratio_evalue {   cpus = 1;            container = 'mhoelzer/python3_virify:0.1' }
            withLabel: ruby {           cpus = 1;            container = 'nanozoo/bioruby:2.0.1--1f8a188' } 
            withLabel: spades {         cpus = params.cores; container = 'nanozoo/spades:3.14--c3546a9' } 
            withLabel: sankey {         cpus = 1;            container = 'nanozoo/sankey_plot:0.12.3--8cf7f6a' } 
	        withLabel: virsorter {      cpus = params.cores; container = 'quay.io/biocontainers/virsorter:1.0.6--pl526h516909a_1' }
            withLabel: virfinder {      cpus = 1;            container = 'mhoelzer/virfinder_viral:0.1' }
        }

