process {
    //errorStrategy = "retry"
    //maxRetries = 1
    withLabel: annotation {     cpus = 1;            memory = '4.0 GB' }
    withLabel: assign {         cpus = 1;            memory = '4.0 GB' }
    withLabel: balloon {        cpus = 1;            memory = '2.0 GB' } 
    withLabel: basics {         cpus = 1;            memory = '4.0 GB' } 
    withLabel: blast {          cpus = 12;           memory = '12.0 GB' } 
    withLabel: chromomap {      cpus = 1;            memory = '4.0 GB' } 
    withLabel: checkV {         cpus = 24;           memory = '16.0 GB' }
    withLabel: fastp {          cpus = 12;           memory = '12.0 GB' } 
    withLabel: fastqc {         cpus = 4;            memory = '8.0 GB' } 
    withLabel: hmmscan {        cpus = 24;           memory = '24.0 GB' }
    withLabel: kaiju {          cpus = 12;           memory = '40.0 GB' }
    withLabel: krona {          cpus = 2;            memory = '4.0 GB'  }
    withLabel: plot_contig_map {cpus = 1;            memory = '4.0 GB' }
    withLabel: pprmeta {        cpus = 8;            memory = '16.0 GB' }
    withLabel: multiqc {        cpus = 4;            memory = '8.0 GB' } 
    withLabel: parse {          cpus = 1;            memory = '4.0 GB' }
    withLabel: prodigal {       cpus = 8;            memory = '8.0 GB' }
    withLabel: phanotate {      cpus = 1;            memory = '4.0 GB' }
    withLabel: python3 {        cpus = 1;            memory = '4.0 GB' }
    withLabel: ratio_evalue {   cpus = 1;            memory = '4.0 GB' }
    withLabel: ruby {           cpus = 1;            memory = '4.0 GB' } 
    withLabel: spades {         cpus = 12;           memory = '40.0 GB' } 
    withLabel: sankey {         cpus = 1;            memory = '2.0 GB' } 
    withLabel: virsorter {      cpus = 12;           memory = '12.0 GB' }
    withLabel: virfinder {      cpus = 1;            memory = '12.0 GB' }
    withLabel: mashmap {        cpus = 4;            memory = '4.0 GB' }          
}
