process {
    //errorStrategy = "retry"
    //maxRetries = 1
    withLabel: annotation {     
        cpus = 1
        memory = '4.0 GB'
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1
    }
    withLabel: assign {         
        cpus = 1
        memory = '4.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1        
    }
    withLabel: balloon {
        cpus = 1
        memory = '2.0 GB'
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1        
    } 
    withLabel: basics {
        cpus = 1
        memory = '4.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1        
    }
    withLabel: blast {
        cpus = 12
        memory = '12.0 GB'
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    } 
    withLabel: chromomap {
        cpus = 1
        memory = '4.0 GB'
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    } 
    withLabel: checkV {
        cpus = 24
        memory = '16.0 GB'
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    }
    withLabel: fastp {
        cpus = 12
        memory = '12.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    } 
    withLabel: fastqc {
        cpus = 4
        memory = '8.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    } 
    withLabel: hmmscan {
        cpus = 24
        memory = '24.0 GB'
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    }
    withLabel: kaiju {
        cpus = 12
        memory = '40.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    }
    withLabel: krona {
        cpus = 2
        memory = '4.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    }
    withLabel: plot_contig_map {
        cpus = 1
        memory = '4.0 GB'
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    }
    withLabel: pprmeta {
        cpus = 8
        memory = '16.0 GB'
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    }
    withLabel: multiqc {
        cpus = 4
        memory = '8.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    } 
    withLabel: parse {
        cpus = 1
        memory = '4.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    }
    withLabel: prodigal {
        cpus = 8
        memory = '8.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    }
    withLabel: phanotate {
        cpus = 1
        memory = '4.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    }
    withLabel: python3 {
        cpus = 1
        memory = '4.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    }
    withLabel: ratio_evalue {
        cpus = 1
        memory = '4.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    }
    withLabel: ruby {
        cpus = 1
        memory = '4.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    } 
    withLabel: spades {
        cpus = 12
        memory = '40.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    } 
    withLabel: sankey {
        cpus = 1
        memory = '2.0 GB'
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    } 
    withLabel: virsorter {
        cpus = 12
        memory = '12.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    }
    withLabel: virfinder {
        cpus = 1
        memory = '12.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    }
    withLabel: mashmap {
        cpus = 4
        memory = '4.0 GB' 
        time = 24.h
        errorStrategy = "retry"
        maxRetries = 1 
    }          
}
