process {
    withLabel: annotation {         conda = "$baseDir/envs/python3.yaml" }
    withLabel: assign {             conda = "$baseDir/envs/python3.yaml" }
    withLabel: balloon {            conda = "$baseDir/envs/balloon.yaml" }
    withLabel: basics {             conda = "$baseDir/envs/python3.yaml" }
    withLabel: blast {              conda = "$baseDir/envs/blast.yaml" }
    withLabel: fastp {              conda = "$baseDir/envs/fastp.yaml" } 
    withLabel: fastqc {             conda = "$baseDir/envs/fastqc.yaml" }
    withLabel: hmmscan {            conda = "$baseDir/envs/hmmer.yaml" }
    withLabel: kaiju {              conda = "$baseDir/envs/kaiju.yaml" }
    withLabel: krona {              conda = "$baseDir/envs/krona.yaml"  }
    withLabel: plot_contig_map {    conda = "$baseDir/envs/r.yaml" }
    withLabel: multiqc {            conda = "$baseDir/envs/multiqc.yaml" }
    withLabel: parse {              conda = "$baseDir/envs/python3.yaml" }
    withLabel: prodigal {           conda = "$baseDir/envs/prodigal.yaml" }
    withLabel: phanotate {          conda = "$baseDir/envs/phanotate.yaml" }
    withLabel: python3 {            conda = "$baseDir/envs/python3.yaml" }
    withLabel: ratio_evalue {       conda = "$baseDir/envs/python3.yaml" }
    withLabel: ruby {               conda = "$baseDir/envs/ruby.yaml" } 
    withLabel: spades {             conda = "$baseDir/envs/spades.yaml" } 
	withLabel: virsorter {          conda = "$baseDir/envs/virsorter.yaml" }
    withLabel: virfinder {          conda = "$baseDir/envs/virfinder.yaml" }
    withLabel: checkV {             conda = "$baseDir/envs/checkv.yaml" }
}