process {
    withNAME: ANNOTATION {         conda = "$baseDir/envs/python3.yaml" }
    withNAME: ASSIGN {             conda = "$baseDir/envs/python3.yaml" }
    withNAME: BALLOON {            conda = "$baseDir/envs/balloon.yaml" }
    withNAME: basics {             conda = "$baseDir/envs/python3.yaml" }
    withNAME: BLAST {              conda = "$baseDir/envs/blast.yaml" }
    withNAME: HMMSCAN {            conda = "$baseDir/envs/hmmer.yaml" }
    withNAME: KAIJU {              conda = "$baseDir/envs/kaiju.yaml" }
    withNAME: KRONA {              conda = "$baseDir/envs/krona.yaml"  }
    withNAME: PLOT_CONTIG_MAP {    conda = "$baseDir/envs/r.yaml" }
    withNAME: PARSE {              conda = "$baseDir/envs/python3.yaml" }
    withNAME: PRODIGAL {           conda = "$baseDir/envs/prodigal.yaml" }
    withNAME: PHANOTATE {          conda = "$baseDir/envs/phanotate.yaml" }
    withNAME: python3 {            conda = "$baseDir/envs/python3.yaml" }
    withNAME: RATIO_EVALUE {       conda = "$baseDir/envs/python3.yaml" }
    withNAME: ruby {               conda = "$baseDir/envs/ruby.yaml" } 
	withNAME: VIRSORTER {          conda = "$baseDir/envs/virsorter.yaml" }
    withNAME: VIRFINDER {          conda = "$baseDir/envs/virfinder.yaml" }
    withNAME: CHECKV {             conda = "$baseDir/envs/checkv.yaml" }
}