process {
    withName: ANNOTATION          {   conda = "$baseDir/envs/python3.yaml" }
    withName: ASSIGN              {   conda = "$baseDir/envs/python3.yaml" }
    withName: BALLOON             {   conda = "$baseDir/local/balloon/balloon.yaml" }
    withName: BLAST               {   conda = "$baseDir/modules/local/blast/blast.yaml" }
    withName: BLAST_FILTER        {   conda = "$baseDir/envs/python3.yaml" }
    withName: CHECKV              {   conda = "$baseDir/modules/local/checkv/checkv.yaml" }
    withName: CHROMOMAP           {   conda = "$baseDir/envs/ruby.yaml" }
    withName: HMMER               {   conda = "$baseDir/modules/local/hmmer/hmmer.yaml" }
    withName: HMM_POSTPROCESSING  {   conda = "$baseDir/envs/python3.yaml" }
    withName: KRONA               {   conda = "$baseDir/modules/local/krona/krona.yaml"  }
    withName: LENGTH_FILTERING    {   conda = "$baseDir/envs/python3.yaml" }
    withName: MASHMAP             {   conda = "$baseDir/modules/local/mashmap/mashmap.yaml"  }
    withName: PARSE               {   conda = "$baseDir/envs/python3.yaml" }
    withName: PLOT_CONTIG_MAP     {   conda = "$baseDir/envs/r.yaml" }
    withName: PRODIGAL            {   conda = "$baseDir/modules/local/prodigal/prodigal.yaml" }
    withName: RATIO_EVALUE        {   conda = "$baseDir/envs/python3.yaml" }
    withName: RENAME              {   conda = "$baseDir/envs/python3.yaml" }
    withName: RESTORE             {   conda = "$baseDir/envs/python3.yaml" }
    withName: SANKEY              {   conda = "$baseDir/envs/ruby.yaml" }
    withName: VIRFINDER           {   conda = "$baseDir/modules/local/virfinder/virfinder.yaml" }
	withName: VIRSORTER           {   conda = "$baseDir/modules/local/virsorter/virsorter.yaml" }
	withName: WRITE_GFF           {   conda = "$baseDir/envs/python3.yaml" }
}