process {
    withLabel: fastp {          container = 'quay.io/biocontainers/fastp:0.20.1--h8b12597_0' }
    withLabel: hmmscan {        container = 'quay.io/microbiome-informatics/hmmer:3.1b2' }

    withLabel: annotation {     container = 'quay.io/microbiome-informatics/virify-python3:1.1' }
    withLabel: assign {         container = 'quay.io/microbiome-informatics/virify-python3:1.1' }
    withLabel: python3 {        container = 'quay.io/microbiome-informatics/virify-python3:1.2' }
    withLabel: ratio_evalue {   container = 'quay.io/microbiome-informatics/virify-python3:1.1' }
    withLabel: parse {          container = 'quay.io/microbiome-informatics/virify-python3:1.1' }

    withLabel: krona {          container = 'quay.io/microbiome-informatics/krona:2.7.1' }
    withLabel: phanotate {      container = 'quay.io/biocontainers/phanotate:1.5.0--h30d9df9_2' }
    withLabel: spades {         container = 'quay.io/biocontainers/spades:3.15.5--h95f258a_1' } 
    withLabel: sankey {         container = 'quay.io/microbiome-informatics/sankeyd3:0.12.3' } 
    withLabel: ruby {           container = 'quay.io/microbiome-informatics/bioruby:2.0.1' } 
    withLabel: pprmeta {        container = 'quay.io/microbiome-informatics/pprmeta:1.1' }
    withLabel: prodigal {       container = 'quay.io/biocontainers/prodigal:2.6.3--hec16e2b_4' }
    withLabel: chromomap {      container = 'quay.io/microbiome-informatics/r_chromomap:0.3' } 
    withLabel: multiqc {        container = 'quay.io/biocontainers/multiqc:1.9--py_1' }
    withLabel: fastqc {         container = 'quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1' } 
    withLabel: basics {         container = 'quay.io/microbiome-informatics/virify-basics:1.0' } 

    withLabel: plot_contig_map {container = 'quay.io/microbiome-informatics/virify-plot-contig-map:1' }
    withLabel: virfinder {      container = 'quay.io/microbiome-informatics/virfinder:1.1__eb8032e' }
    withLabel: checkV {         container = 'quay.io/microbiome-informatics/checkv:0.8.1__1' }

    withLabel: blast {          container = 'quay.io/microbiome-informatics/blast:2.9.0' } 
    withLabel: virsorter {      container = 'quay.io/microbiome-informatics/virsorter:1.0.6_edfeb8c5e72' }
    withLabel: mashmap {        container = 'quay.io/microbiome-informatics/mashmap:2.0' }

    withLabel: kaiju {          container = 'quay.io/biocontainers/kaiju:1.7.2--hdbcaa40_0' }
    withLabel: balloon {        container = 'nanozoo/r_balloon:3.1.1--64f0f7d' } 
}
