profiles {

    ebi {

        process {
            resourceLimits = [
                cpus: 32,
                memory: "50.GB",
                time: '8.h',
            ]
        }

        params.workdir              = "/hps/nobackup/rdf/metagenomics/service-team/nextflow-workdir/virify/"
        params.databases            = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/virify/"
        params.singularity_cachedir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"

        workDir                     = params.workdir

        params.cloudProcess         = true
        process.cache               = "lenient"

        conda.enabled               = false

        singularity {
            enabled    = true
            autoMounts = true
            cacheDir   = params.singularity_cachedir
        }
    }
}
