process.executor = 'local'

time   = '1d' 

process {
    withName: ANNOTATION         { cpus = 1;             }
    withName: ASSIGN             { cpus = 1;             }
    withName: BALLOON            { cpus = 1;             } 
    withName: BLAST              { cpus = params.cores;  memory = params.memory } 
    withName: CHECKV             { cpus = params.cores;  memory = params.memory }
    withName: FASTP              { cpus = params.cores;  memory = params.memory } 
    withName: FASTQC             { cpus = params.cores;  memory = params.memory } 
    withName: HMM_POSTPROCESSING { cpus = 1; }
    withName: HMMER              { cpus = params.cores;  memory = params.memory }
    withName: MASHMAP            { cpus = params.cores;  memory = params.memory }
    withName: PLOT_CONTIG_MAP    { cpus = 1;             }
    withName: PPRMETA            { cpus = params.cores;  memory = params.memory }
    withName: MULTIQC            { cpus = params.cores;  } 
    withName: PRODIGAL           { cpus = 1;             memory = params.memory }
    withName: RATIO_EVALUE       { cpus = 1;             }
    withName: SPADES             { cpus = params.cores;  memory = params.memory } 
    withName: SANKEY             { cpus = 1;             } 
    withName: VIRSORTER          { cpus = params.cores;  memory = params.memory }
    withName: VIRSORTER2         { cpus = params.cores;  memory = params.memory }
    withName: VIRFINDER          { cpus = 1;             memory = params.memory }
    withName: WRITE_GFF          { cpus = params.cores;  memory = params.memory }
}

