process.executor = 'local'

process {
    withLabel: annotation {     cpus = 1;             }
    withLabel: assign {         cpus = 1;             }
    withLabel: balloon {        cpus = 1;             } 
    withLabel: basics {         cpus = 1;             } 
    withLabel: blast {          cpus = params.cores;  } 
    withLabel: chromomap {      cpus = 1;             } 
    withLabel: checkV {         cpus = params.cores   }
    withLabel: fastp {          cpus = params.cores;  } 
    withLabel: fastqc {         cpus = params.cores;  } 
    withLabel: hmmscan {        cpus = params.cores;  }
    withLabel: kaiju {          cpus = params.cores;  }
    withLabel: krona {          cpus = params.cores;  }
    withLabel: plot_contig_map {cpus = 1;             }
    withLabel: pprmeta {        cpus = params.cores;  }
    withLabel: multiqc {        cpus = params.cores;  } 
    withLabel: parse {          cpus = 1;             }
    withLabel: prodigal {       cpus = 1;             }
    withLabel: phanotate {      cpus = 1;             }
    withLabel: python3 {        cpus = 1;             }
    withLabel: ratio_evalue {   cpus = 1;             }
    withLabel: ruby {           cpus = 1;             } 
    withLabel: spades {         cpus = params.cores;  } 
    withLabel: sankey {         cpus = 1;             } 
    withLabel: virsorter {      cpus = params.cores;  }
    withLabel: virfinder {      cpus = 1;             }
    withLabel: mashmap {        cpus = params.cores;  }
}

