process.executor = 'local'

process {
    withName: ANNOTATION      { cpus = 1;             }
    withName: ASSIGN          { cpus = 1;             }
    withName: BALLOON         { cpus = 1;             } 
    withLabel: basics         { cpus = 1;             } 
    withName: BLAST           { cpus = params.cores;  } 
    withName: CHROMOMAP       { cpus = 1;             } 
    withName: CHECKV          { cpus = params.cores   }
    withName: FASTP           { cpus = params.cores;  } 
    withName: FASTQC          { cpus = params.cores;  } 
    withName: HMMSCAN         { cpus = params.cores;  }
    withName: KRONA           { cpus = params.cores;  }
    withName: PLOT_CONTIG_MAP { cpus = 1;             }
    withName: PPRMETA         { cpus = params.cores;  }
    withName: MULTIQC         { cpus = params.cores;  } 
    withName: PARSE           { cpus = 1;             }
    withName: PRODIGAL        { cpus = 1;             }
    withName: PHANONATE       { cpus = 1;             }
    withLabel: python3        { cpus = 1;             }
    withName: RATIO_EVALUE    { cpus = 1;             }
    withLabel: ruby           { cpus = 1;             } 
    withName: SPADES          { cpus = params.cores;  } 
    withName: SANKEY          { cpus = 1;             } 
    withName: VIRSORTER       { cpus = params.cores;  }
    withName: VIRFINDER       { cpus = 1;             }
    withName: MASHMAP         { cpus = params.cores;  }
}

