/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store module specific params.
     - publishDir
     - ext arguments
     - prefixes
     ( execution params are in nf_*.config )
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: 'ANNOTATION' {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.finaldir}/annotation/hmmer/${output_file.name}";
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_annotation.tsv"
            ]
        ]
    }
    
    withName: 'ASSIGN' {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.taxdir}/${output_file.name}";
                    }
                },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_taxonomy.tsv"
            ],
        ]
    }
    
    withName: BALLOON {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.finaldir}/balloon/${output_file.name}";
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.{pdf,svg}"
            ]
        ]
    }
    
    withName: BLAST {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.blastdir}/${output_file.name}";
                    }
                },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.blast"
            ],
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.finaldir}/blast/${output_file.name}";
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.filtered.blast"
            ],
        ]
    }
    
    withName: BLAST_FILTER {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.blastdir}/${output_file.name}";
                    }
                },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.meta"
            ],
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.finaldir}/blast/${output_file.name}";
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.meta"
            ],
        ]
    }
    
    withName: CHECKV {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.checkvdir}/${output_file.name}";
                    }
                },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_quality_summary.tsv"
            ],
        ]
    }
    
    withName: CONCATENATE_FILES_SCORE {
        publishDir = [
                [
                    path: "${params.output}",
                    saveAs: {
                        filename -> {
                            if ( filename.equals('versions.yml') ) {
                                return null;
                            }
                            def output_file = new File(filename);
                            return "${meta.id}/${params.virusdir}/virsorter2/${output_file.name}";
                        }
                    },
                    enabled: params.publish_all,
                    mode: params.publish_dir_mode,
                    failOnError: false,
                    pattern: "*final-viral*.{tsv,fa}"
                ]
            ]
    }
    
    withName: CONCATENATE_FILES_BOUNDARY {
        publishDir = [
                [
                    path: "${params.output}",
                    saveAs: {
                        filename -> {
                            if ( filename.equals('versions.yml') ) {
                                return null;
                            }
                            def output_file = new File(filename);
                            return "${meta.id}/${params.virusdir}/virsorter2/${output_file.name}";
                        }
                    },
                    enabled: params.publish_all,
                    mode: params.publish_dir_mode,
                    failOnError: false,
                    pattern: "*final-viral*.{tsv,fa}"
                ]
            ]
    }
    
    withName: CONCATENATE_FILES_FA {
        publishDir = [
                [
                    path: "${params.output}",
                    saveAs: {
                        filename -> {
                            if ( filename.equals('versions.yml') ) {
                                return null;
                            }
                            def output_file = new File(filename);
                            return "${meta.id}/${params.virusdir}/virsorter2/${output_file.name}";
                        }
                    },
                    enabled: params.publish_all,
                    mode: params.publish_dir_mode,
                    failOnError: false,
                    pattern: "*final-viral*.{tsv,fa}"
                ]
            ]
    }
    
    withName: GENERATE_CHROMOMAP_TABLE {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.finaldir}/chromomap/${output_file.name}";
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.filtered-*.contigs.txt"
            ]
        ]
    }
    
    withName: GENERATE_KRONA_TABLE {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.plotdir}/krona/${output_file.name}";
                    }
                },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.krona.tsv"
            ],
        ]
    }
    
    withName: GENERATE_SANKEY_TABLE {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.plotdir}/sankey/${output_file.name}";
                    }
                },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.sankey.tsv"
            ],
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.plotdir}/sankey/${output_file.name}";
                    }
                },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.sankey.filtered-${params.sankey}.json"
            ]
        ]
    }
    
    withName: CHROMOMAP {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.finaldir}/chromomap/${output_file.name}";
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.html"
            ]
        ]
    }
    
    withName: HMM_POSTPROCESSING {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.hmmerdir}/${output_file.name}";
                    }
                },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_modified.tsv"
            ]
        ]
    }
    
    withName: HMMER {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.hmmerdir}/${db.baseName}/${output_file.name}";
                    }
                },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_hmm*.tbl"
            ]
        ]
    }
    
    
    withName: KRONA {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.finaldir}/krona/${output_file.name}";
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.krona.html"
            ],
        ]
    }
    
    withName: MASHMAP {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.finaldir}/mashmap/${output_file.name}";
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.tsv"
            ]
        ]
    }
    
    withName: MULTIQC {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.finaldir}/multiqc/${output_file.name}";
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_multiqc_report.html"
            ]
        ]
    }
    
    withName: PARSE {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.virusdir}/virsorter2/${output_file.name}";
                    }
                },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "virsorter_metadata.tsv"
            ],
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.virusdir}/${output_file.name}";
                    }
                },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_virus_predictions.log"
            ]
        ]
    }
    
    withName: PLOT_CONTIG_MAP {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.finaldir}/annotation/plot_contig_map/${output_file.name}";
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_mapping_results"
            ],
        ]
    }
   
    withName: PPRMETA {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.virusdir}/pprmeta/${output_file.name}";
                    }
                },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_pprmeta.csv"
            ]
        ]
    }
    
    withName: PRODIGAL {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.prodigaldir}/${output_file.name}";
                    }
                },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.faa"
            ],
        ]
    } 
    
    withName: RATIO_EVALUE {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.hmmerdir}/ratio_evalue_tables/${output_file.name}";
                    }
                },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_modified_informative.tsv"
            ]
        ]
    }
    
    withName: RESTORE {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.finaldir}/contigs/${output_file.name}";
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_original.fasta"
            ]
        ]
    }
    
    withName: SANKEY {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.finaldir}/sankey/${output_file.name}";
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.sankey.html"
            ]
        ]
    }
    
    withName: SPADES {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.finaldir}/assembly/${output_file.name}";
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.fasta"
            ]
        ]
    }
    
    withName: VIRFINDER {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.virusdir}/virfinder/${output_file.name}";
                    }
                },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.txt"
            ]
        ]
    }
    
    withName: VIRSORTER {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.virusdir}/${output_file.name}";
                    }
                },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false
            ]
        ]
    }
    
    withName: VIRSORTER2 {
        ext.args = " --use-conda-off "
        // TODO remove that arg for conda env
        //if (!params.conda.enabled) {
        //    ext.args = "  "
        //}
        
        // publishing is happening in modules that concatenate chunks
    }
    
    withName: WRITE_GFF {
        publishDir = [
            [
                path: "${params.output}",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${meta.id}/${params.finaldir}/gff/${output_file.name}";
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.gff"
            ]
        ]
    }
}