/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store module specific params.
     - publishDir
     - ext arguments
     - prefixes
     ( execution params are in nf_*.config )
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: 'ANNOTATION' {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.finaldir}/annotation/hmmer" },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_annotation.tsv",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: 'ASSIGN' {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.taxdir}" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_taxonomy.tsv",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
        ]
    }

    withName: BALLOON {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.finaldir}/balloon" },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.{pdf,svg}",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: BLAST {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.blastdir}" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.blast",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                path: { "${params.output}/${meta.id}/${params.finaldir}/blast" },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.filtered.blast",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
        ]
    }

    withName: BLAST_FILTER {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.blastdir}" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.meta",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                path: { "${params.output}/${meta.id}/${params.finaldir}/blast" },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.meta",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
        ]
    }

    withName: CHECKV {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.checkvdir}" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_quality_summary.tsv",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
        ]
    }

    withName: CONCATENATE_FILES_SCORE {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.virusdir}/virsorter2" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*final-viral*.{tsv,fa}",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: CONCATENATE_FILES_BOUNDARY {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.virusdir}/virsorter2" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*final-viral*.{tsv,fa}",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: CONCATENATE_FILES_FA {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.virusdir}/virsorter2" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*final-viral*.{tsv,fa}",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: GENERATE_CHROMOMAP_TABLE {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.finaldir}/chromomap" },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.filtered-*.contigs.txt",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: GENERATE_KRONA_TABLE {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.plotdir}/krona" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.krona.tsv",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
        ]
    }

    withName: GENERATE_SANKEY_TABLE {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.plotdir}/sankey" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.sankey.tsv",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                path: { "${params.output}/${meta.id}/${params.plotdir}/sankey" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.sankey.filtered-${params.sankey}.json",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                path: { "${params.output}/${meta.id}/${params.plotdir}/sankey" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.sankey.filtered.tsv",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: CHROMOMAP {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.finaldir}/chromomap" },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.html",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: HMM_POSTPROCESSING {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.hmmerdir}" },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_modified.tsv",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: HMMER {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.hmmerdir}/${db.baseName}" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_hmm*.tbl",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                path: { "${params.output}/${meta.id}/${params.hmmerdir}/${db.baseName}" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_cutga.tbl",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }


    withName: KRONA {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.finaldir}/krona" },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.krona.html",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
        ]
    }

    withName: MASHMAP {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.finaldir}/mashmap" },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.tsv",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: MULTIQC {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.finaldir}/multiqc" },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_multiqc_report.html",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: PARSE {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.virusdir}/virsorter2" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "virsorter_metadata.tsv",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                path: { "${params.output}/${meta.id}/${params.virusdir}" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_virus_predictions.stats",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: PLOT_CONTIG_MAP {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.finaldir}/annotation/plot_contig_map" },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_mapping_results",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
        ]
    }

    withName: PPRMETA {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.virusdir}/pprmeta" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_pprmeta.csv",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: PRODIGAL {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.prodigaldir}" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.faa",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
        ]
    }

    withName: RATIO_EVALUE {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.hmmerdir}/ratio_evalue_tables" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_modified_informative.tsv",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: RENAME {
        publishDir = [
            [
                path: { "${meta.id}/${params.finaldir}/contigs/" },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_map.tsv",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: RESTORE {
        publishDir = [
            [
                path: { "${meta.id}/${params.finaldir}/contigs/" },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*_original.fasta",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: SANKEY {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.finaldir}/sankey" },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.sankey.html",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: SPADES {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.finaldir}/assembly" },
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.fasta",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: VIRFINDER {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.virusdir}/virfinder" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "*.txt",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: VIRSORTER {
        publishDir = [
            [
                path: { "${params.output}/${meta.id}/${params.virusdir}" },
                enabled: params.publish_all,
                mode: params.publish_dir_mode,
                failOnError: false,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: VIRSORTER2 {
        // VirSorter2 results are published when concatenating the chunks
        ext.args = { "--use-conda-off" }
    }

    withName: TABIX_BGZIP {
        // The input name needs to be kept, it contains the meta.id already
        ext.prefix = { input.baseName }
        ext.args = { "--index" }
        publishDir = [
            path: { "${params.output}/${meta.id}/${params.finaldir}/gff" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            // The GFF may not be generated... (I'm carrying this over as it was done like that in the past.. we need to review)
            failOnError: false,
        ]
    }

    withName: TABIX_BGZIPTABIX {
        // The input name needs to be kept, it contains the meta.id already
        ext.prefix = { input.baseName }
        ext.args2 = { "--csi" }
        publishDir = [
            path: { "${params.output}/${meta.id}/${params.finaldir}/gff" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            // Tthe GFF may not be generated... (I'm carrying this over as it was done like that in the past.. we need to review)
            failOnError: false,
        ]
    }
}
