process {
    //errorStrategy = "retry"
    //maxRetries = 1
    withName: ANNOTATION      { cpus = 1;            memory = '4.0 GB' }
    withName: ASSIGN          { cpus = 1;            memory = '4.0 GB' }
    withName: BALLOON         { cpus = 1;            memory = '2.0 GB' } 
    withLabel: basics         { cpus = 1;            memory = '4.0 GB' } 
    withName: BLAST           { cpus = 12;           memory = '12.0 GB' } 
    withName: CHROMOMAP       { cpus = 1;            memory = '4.0 GB' } 
    withName: CHECKV          { cpus = 24;           memory = '16.0 GB' }
    withName: FASTP           { cpus = 12;           memory = '12.0 GB' } 
    withName: FASTQC          { cpus = 4;            memory = '8.0 GB' } 
    withName: HMMSCAN         { cpus = 24;           memory = '24.0 GB' }
    withName: KAIJU           { cpus = 12;           memory = '40.0 GB' }
    withName: KRONA           { cpus = 2;            memory = '4.0 GB'  }
    withName: PLOT_CONTIG_MAP { cpus = 1;            memory = '4.0 GB' }
    withName: PPRMETA         { cpus = 8;            memory = '16.0 GB' }
    withName: MULTIQC         { cpus = 4;            memory = '8.0 GB' } 
    withName: PARSE           { cpus = 1;            memory = '4.0 GB' }
    withName: PRODIGAL        { cpus = 8;            memory = '8.0 GB' }
    withName: PHANONATE       { cpus = 1;            memory = '4.0 GB' }
    withLabel: python3        { cpus = 1;            memory = '4.0 GB' }
    withName: RATIO_EVALUE    { cpus = 1;            memory = '4.0 GB' }
    withLabel: ruby           { cpus = 1;            memory = '4.0 GB' } 
    withName: SPADES          { cpus = 12;           memory = '40.0 GB' } 
    withName: SANKEY          { cpus = 1;            memory = '2.0 GB' } 
    withName: VIRSORTER       { cpus = 12;           memory = '12.0 GB' }
    withName: VIRFINDER       { cpus = 1;            memory = '12.0 GB' }
    withName: MASHMAP         { cpus = 4;            memory = '4.0 GB' }          
}
