name: Python unit tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master", "dev" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5.0.0

    - name: Set up Python 3.10
      uses: actions/setup-python@v6.0.0
      with:
        python-version: "3.10"
        pip-install: -r requirements-test.txt
        cache: "pip"

    - name: Unit tests
      run: |
        pytest
