name: Python unit tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master", "dev" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python 3.10
      uses: actions/setup-python@v6
      with:
        python-version: "3.10"

    - name: Install deps
      run: pip install --no-cache-dir -r requirements-test.txt 

    - name: Unit tests
      run: pytest -v
